{% extends 'base.html.twig' %}

{% block title %}{{ character.firstName | capitalize }} {{ character.lastName | upper }}{% endblock %}

{% block body %}
    <div class="container my-5">
        <a href="{{ path('app_character_list') }}" role="button" class="btn btn-info"><< Retour à la liste des personnages</a>
        <h1 class="mb-5 text-center">{{ character.firstName | capitalize }} {{ character.lastName | upper
            }}</h1>
        <div class="container mx-0 my-5 p-0">
            {% if character.user.id == app.user.id %}
            <p><b>Identifiant n° {{ character.id }}</b>
                {% if character.game is null %}
                (à donner à votre MJ pour être ajouté à une partie)
                {% endif %}
            </p>
            {% endif %}
            <p><b>Personnage public :</b>
                {% if character.isPublic %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </p>
            <p><b>Partie</b> :
                {% if character.game is null %}
                    Aucune pour le moment...
                {% else %}
                    {{ character.game.name }}
                {% endif %}
                </p>
            {% if character.user.id == app.user.id and character.game is not null %}
                <a href="{{ path('app_game', { 'id': character.game.id }) }}" role="button" class="btn btn-info">Voir
                    ses aventures</a>
                <a href="{{ path('app_quit_game', { 'id': character.id }) }}" role="button" class="btn btn-danger"
                   onclick="return confirm('Êtes vous sûr de vouloir quitter cette partie ?');"
                >Quitter la partie</a>
            {% endif %}
        </div>


        <p class="my-4"><b>Age</b> : {{ character.age }}</p>
        <p class="my-4"><b>Maladie Mentale</b> : {{ character.disease | capitalize }}</p>
        <p class="my-4"><b>Histoire</b> :</p>
        <div class="container bg-light rounded mx-0 my-2 p-2">
            {% if character.story is null %}
                Inconnue pour le moment...
            {% endif %}
            <p><pre class="font-boot">{{ character.story }}</pre></p>
        </div>
        <p class="my-4"><b>Pouvoirs</b> :</p>
        <div class="container bg-light rounded mx-0 my-2 p-2">
            {% if character.powers is null %}
                Inconnus pour le moment...
            {% endif %}
            <p><pre class="font-boot">{{ character.powers }}</pre></p>
        </div>
        <p class="my-4"><b>Bourse</b> : {{ character.money }} rubz</p>
        <p class="my-4"><b>Sac-à-dos</b> :</p>
        <div class="container bg-light rounded mx-0 my-2 p-2">
            {% if character.bag is null %}
                Vide pour le moment...
            {% endif %}
            <p><pre class="font-boot">{{ character.bag }}</pre></p>
        </div>
        <p class="mt-4"><b>Caractéristiques</b> :</p>
        <table class="table table-striped table-hover table-responsive-sm text-center">
            <thead>
            <tr>
                <th>Corps</th>
                <th>Esprit</th>
                <th>Endurance</th>
                <th>Force</th>
                <th>Agilité</th>
                <th>Rapidité</th>
                <th>Intelligence</th>
                <th>Résilience</th>
                <th>Charisme</th>
                <th>Chance</th>
            </tr>
            </thead>
            <tbody>
            <td>{{ character.stamina + character.strength + character.agility + character.speed }}</td>
            <td>{{ character.intelligence + character.resilience + character.charisma + character.luck }}</td>
            <td>{{ character.stamina }}</td>
            <td>{{ character.strength }}</td>
            <td>{{ character.agility }}</td>
            <td>{{ character.speed }}</td>
            <td>{{ character.intelligence }}</td>
            <td>{{ character.resilience }}</td>
            <td>{{ character.charisma }}</td>
            <td>{{ character.luck }}</td>
            </tbody>

    </div>
{% endblock %}