{% extends 'base.html.twig' %}

{% block title %}Nouveau personnage{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Création de personnage</h1>

    {{ form_start(characterForm) }}
    {{ form_row(characterForm.firstName, { label: 'Prénom' }) }}
    {{ form_row(characterForm.lastName, { label: 'Nom de famille' }) }}
    {{ form_row(characterForm.age, { label: 'Age' }) }}
    {{ form_row(characterForm.disease, { label: 'Maladie mentale' }) }}
    {{ form_row(characterForm.story, { label: 'Histoire' }) }}
    {{ form_row(characterForm.powers, { label: 'Pouvoirs' }) }}
    {{ form_row(characterForm.money, { label: 'Bourse' }) }}
    {{ form_row(characterForm.bag, { label: 'Sac-à-dos' }) }}
    {{ form_row(characterForm.stamina, { label: 'Endurance' }) }}
    {{ form_row(characterForm.strength, { label: 'Force' }) }}
    {{ form_row(characterForm.agility, { label: 'Agilité' }) }}
    {{ form_row(characterForm.speed, { label: 'Rapidité' }) }}
    {{ form_row(characterForm.intelligence, { label: 'Intelligence' }) }}
    {{ form_row(characterForm.resilience, { label: 'Resilience' }) }}
    {{ form_row(characterForm.charisma, { label: 'Charisme' }) }}
    {{ form_row(characterForm.luck, { label: 'Chance' }) }}
    <button type="button" class="btn btn-info mb-3" id="randomButton" onclick="randomCaracs()">Caractéristiques aléatoires</button>
    {{ form_row(characterForm.isPublic, {label: 'Personnage public'}) }}
    <p><i>Attention : un personnage public sera visible de tous !</i></p>
<button type="submit" class="btn btn-info btn-lg">Créer le personnage</button>
    {{ form_end(characterForm) }}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/randomCaracs.js') }}"></script>
{% endblock %}

