{% extends 'base.html.twig' %}

{% block title %}Contexte{% endblock %}

{% block body %}

    <div class="container d-flex align-items-center flex-column my-5">
        <h1 class="my-3">Contexte</h1>
        <div class="col col-md-6 mx-auto px-0">
        <img src={{ asset('images/girl.jpg') }} alt="girl" class="my-3 rounded w-100">
        </div>

        <p class="text-center mt-3">Ahhh... San Francisco, la belle San Francisco...</p>

        <p class="text-center">Ville du pacifique baignée par le soleil, véritable melting pot assemblant des gens de tous les horizons, de toutes les croyances... même si tout n'y est pas rose. Comme partout le monde devient fou et seuls les capitalistes s'y retrouvent, enfin passons, tout ça pour dire que les problèmes psychologiques y pullulent aussi sûrement que les moisissures sur un vieux bout de munster.</p>

        <p class="text-center">Le docteur Parkinson, éminent psychologue a décidé d'essayer une nouvelle méthode soit disant révolutionnaire pour soigner ses patients : l'hypnose. D'aucun diront que ceci n'a rien de nouveau, mais je les corrigerais en leur disant que sa manière de l'utiliser, les méthodes appliquées pour y parvenir et bien d'autres choses étaient réellement innovantes (mais vous n'aurez pas plus de détails, après tout ça ne vous avancerait pas !).</p>

        <p  class="text-center">Après tout comment mieux toucher l'esprit que pendant son inconscience ?</p>

        <p  class="text-center">Le raisonnement qui semblait tout à fait correct à la base fut à l'origine du plus profond bouleversement
            que notre monde à pu connaître depuis des siècles. En effet, au lieu d'agir sur l'inconscient cette
            méthode eut pour effet de projeter l'esprit des patients dans un monde parallèle très proche, le monde des rêves, habituellement visité la nuit pendant les phases de sommeil paradoxal ou l'esprit s'échappe brièvement. En quoi cela bouleverserait notre monde me direz-vous ? Et bien c'est beaucoup plus simple que vous ne le pensez...</p>

        <p  class="text-center">Sept tours, sept pêchés qui relient les deux mondes, les liants inextricablement.
            Chacune possédant sa jumelle dans l'autre monde ainsi que son gardien, fondation de l'ordre et de la
            stabilité du monde. Que se passerait-il si elles venaient à se briser ? Verrait-on les mondes se mélanger ou bien disparaître ? Au grand dam des habitants des deux dimensions, certains « voyageurs » de l'hypnose seront plus que tentés de les mettre en pièces afin d'avoir une chance d'intégrer leurs nouveaux pouvoirs au monde réel.</p>

        <p  class="text-center">Mais quels pouvoirs ? Ah, je ne raconte vraiment rien dans l'ordre mais je pensais
            que ça coulait de source... Et bien les psychoses, phobies, les TOC, tous les désordres mentaux qui
            faisaient les faiblesses des patients se sont lors du passage transformés en force, en « pouvoir ». A force de travailler sur leurs problèmes certaines parties de leur cerveau liées à eux se sont « développés », leur permettant de matérialiser leur folie dans ce nouveau monde onirique. Et Dieu seul sait ce qu'un fou peut faire lorsqu'on lui donne la possibilité de réduire le monde à néant...</p>

        <p class="text-center mb-5">Détruire le monde ou le préserver ? Ou simplement regarder le spectacle d'un oeil
            intéressé ? Seul vous pouvez décider de l'avenir de notre monde ainsi que de celui de Dreamland, même s'il m'est avis que les habitants de celui-ci ne vous laisseront pas faire à votre guise...</p>

        <div class="container m-4 bg-light rounded p-lg-2 px-0 d-flex align-items-center flex-column">
            <p class="text-center">Vous souhaitez en savoir plus ? N'hésitez pas à étancher votre soif de
                savoir en allant lire les annexes :</p>

            <ul>
                <li>
                    <a href="{{ path('app_intro_methods') }}" class="text-info">Les méthodes d'introduction</a>
                </li>
                <li>
                    <a href="{{ path('app_places') }}" class="text-info">Les lieux de Dreamland</a>
                </li>
                <li>
                    <a href="{{ path('app_fauna_flora') }}" class="text-info">La faune et la flore de Dreamland</a>
                </li>
                <li>
                    <a href="{{ path('app_towers') }}" class="text-info">Les 7 tours</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
