{% extends 'base.html.twig' %}

{% block title %}{{ summary.title }}{% endblock %}

{% block body %}
<div class="container my-5">
    <a href="{{ path('app_game', { 'id': summary.game.id}) }}" role="button" class="btn btn-info"><< Retour à la
        partie</a>
    <h1 class="my-3">{{ summary.title }}</h1>
    <p>{{ summary.sessionDate|date("d/m/Y") }}</p>
    <div class="container bg-light rounded mx-0 my-2 p-2">
        <p>{{ content|raw }}</p>
    </div>
</div>
{% endblock %}