{% extends 'base.html.twig' %}

{% block title %}{{ message.title }}{% endblock %}

{% block body %}
<div class="container my-5">
    <a href="{{ path('app_messages_list') }}" role="button" class="btn btn-info mb-5">
        << Retour à la liste de messages
    </a>
    <h1>{{ message.title }}</h1>
    <p class="mb-5"><i>Envoyé par {{ message.sendBy.username }}</i></p>
    <div class="container mx-0 my-4 py-2 bg-light rounded">
        <p>{{ message.content|nl2br }}</p>
    </div>
    <div class="mt-5">
        <a href="{{ path('app_response_message', { 'id': message.id }) }}" role="button" class="btn
        btn-info">Répondre</a>
        <a href="{{ path('app_delete_message', { 'id': message.id }) }}" role="button" class="btn btn-danger" onclick="return confirm('Êtes vous sûr de vouloir supprimer ' +
         'ce message ?')">Supprimer</a>
    </div>

    <div class="mt-5">
        <hr>
        <h2 class="h5">Historique de la conversation</h2>
        {% for messageHistory in messagesHistory %}
            <div class="container mx-0 my-4 py-2
            {% if messageHistory.id == message.id %}
            bg-yellow
            {% else %}
            bg-light
            {% endif %}
             rounded">
                <p><i>Envoyé par {{ messageHistory.sendBy.username }} le {{ messageHistory.sendingDate|date('d/m/Y à H:i') }}</i></p>
                <p>{{ messageHistory.content|nl2br }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}